### special char with special meaning in re
### . dot
        any single char match
### ^ cap
           starting with

In [1]:
import re

In [2]:
print(re.search('.','sairam'))

<re.Match object; span=(0, 1), match='s'>

In [4]:
print(re.match('s.','sairam'))

<re.Match object; span=(0, 2), match='sa'>

In [5]:
print(re.match('i.','sairam'))

None

In [7]:
re.search('...','sairam')

In [8]:
# print the numbers with atleast 3 numbers
numbers=['1','12','123','1234','12345']
for num in numbers:
    if re.search('...',num):
        print(num)

123
1234
12345

In [9]:
re.search('^s','sairam')

In [11]:
re.search('^r','sairam')

## search works with the all charecter's of string once it's didn't find the given char it's search through all char
## once it find's given char it stops it search return the position
## match starts it's searching from the starting and if first char didn't match it stop it's search
#### $-Dollar
        Ending with

In [12]:
re.search("m$",'Sairam')

In [13]:
# print the numbers with only 3 digits in it
numbers=['1','12','123','1234','234']
for number in numbers:
    if re.search('^...$',number):
        print(number)

123
234

In [15]:
#print the number which are only start with 1 and end with 3 only 3 digit numbers
numbers=['1','12','123','1234','234','163']
for num in numbers:
    if re.search('^1.3$',num):
        print(num)

123
163

### \d 
        Any Single Digit

In [16]:
re.search('\d','sairam1ram2')

In [31]:
# find the sum of all the digits in data
novel='every 1 has a story or 100 stories or 200 or 3000'
str_num=re.findall('\d',novel)
print(sum(list(map(int,str_num))))

7

# map syntax
    map(function,collection_items)

In [24]:
re.findall('\d\d\d',novel)

['100', '200']

#### {min,max}

In [25]:
re.search('.{2}','Sairam')

In [26]:
re.search('.{6}','Sairam')

In [27]:
re.search('.{6}','Saim')

In [28]:
re.search('.{4,6}','Sairem')

In [33]:
re.findall('\d{1,3}',novel)

['1', '100', '200', '300', '0']

#### [char,char,char]
        any char given in the square brackets

In [35]:
re.search('[ai]','sairam')

#### [^charcharchar]
        neither of any given char

In [41]:
re.search('[^ai]','sairam')

In [3]:
### to check whther given number is valid indian mobile number or not
## i.e it start's with 9 or 8 or 7 or 6 
## it's length has to be 10 digits
import re
numbers=['1234567890','9848272564','7013531888','707565147']
for mobile in numbers:
    pattern='^[6-9]{1}[0-9]{9}$'
    #pattern='^[6-9]\d{9}$'
    if re.search(pattern,mobile):
        print(mobile)

9848272564
7013531888

In [4]:
pattern

'^[6-9]{1}[0-9]{9}$'

#### \s 
        other than \s
#### \w
        single identifier charecter

In [5]:
re.search('\w',' _9az')

In [6]:
re.search('\w','sai')

#### \W
        other than \w
        other than identifier char

In [7]:
re.search('\W','Sai1_ ram')

In [8]:
# find the count of lower case a-z in given data
novel=" every 1 has a story"
len(re.findall('[a-z]',novel))

14

#### * star
        zero or more occurances

In [10]:
print(re.search('a*','python'))

<re.Match object; span=(0, 0), match=''>

In [11]:
print(re.search('a','python'))

None

In [12]:
print(re.search('1','1111222233111'))

<re.Match object; span=(0, 1), match='1'>

In [13]:
print(re.search('1*','1111222233111'))

<re.Match object; span=(0, 4), match='1111'>

In [14]:
print(re.search('^s.*m$','sm'))

<re.Match object; span=(0, 2), match='sm'>

In [15]:
print(re.search('^s.*m$','saim'))

<re.Match object; span=(0, 4), match='saim'>

In [16]:
print(re.search('^s*m$','ssssssm'))

<re.Match object; span=(0, 7), match='ssssssm'>

In [17]:
print(re.search('^s*m$','szzzzm'))

None

### +
        1 or more
        atlest 1 successs or more

In [18]:
re.search('1+','2222111133331111')

In [19]:
re.search('^s.+m$','sm')

In [20]:
re.search('^s.+m$','sairam')

In [23]:
#write a pattren to find three digit numbers and calculate sum
content='''ramu got 100 for maths ,150 for physics, and from school to college total 4000 marks'''
onlyDigits=re.findall('\d+',content)
print('only Digits',onlyDigits)
only3Digits=list(filter(lambda x:len(x)==3,onlyDigits))
print('only 3 Digits',only3Digits)
print(sum(map(int,only3Digits)))

only Digits ['100', '150', '4000']
only 3 Digits ['100', '150']
250

In [ ]:
# write a program to accept a gmail.id